.sort {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.sort span {
    display: grid;

    align-items: center;

    cursor: pointer;
    gap: 8px;
    grid-template-columns: 20px 1fr;
}

.active {
    color: var(--primary);

    font-weight: bold;
}

.sortIcon {
    display: none;
}

.active .sortIcon {
    display: block;

    margin-right: 8px;
}
